rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global safety net catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    match /service_requests/{item} {
      allow read, write: if true;
    }
    match /pros/{item} {
      allow read, write: if true;
    }
  }
}
